{% extends 'base.html' %}
{% block content %}
    <h1>Text to Image AI Generator</h1>
    <div class="input-container">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <label for="textInput">Enter Text:</label>
            <textarea id="textInput" placeholder="Type your text here..." name="user_input"></textarea>
            <button type="submit">Generate Image</button>
        </form>
    </div>
<!--    {% if object %}-->
        <div class="output-container">
            <h2>Generated Image: {{ object.phrase }}</h2>
            <img scr="{{ MEDIA_ROOT }}{{object.ai_image.url}}" id="generatedImage" alt="{{object.phrase}}">
        </div>
<!--    {% endif %}-->
{% endblock %}