body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0D2137;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    align-self: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.hamburger-container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 8px;
  transition: 0.3s;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.offcanvas {
    width: 100% !important;
    border: none !important;
    transition: transform 0.7s ease-in-out;
}

.offcanvas-body ul {
    list-style: none;
    padding: 0;
}

.offcanvas-body ul li {
    padding: 5px 0;
}

.offcanvas-body ul li a {
    text-decoration: none;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.main-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.main-container button:hover {
    background-color: #45a049;
}

.output-container {
    text-align: center;
}

/* .generated-image-container {
    width: 100%;
    height: 500px;
} */

.main-container img {
    max-width: 100%;
    height: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 1519px) {
    .logo {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    nav.show {
        display: flex;
    }

    nav a {
        border-bottom: 1px solid #555;
    }

    header {
        padding: 10px;
    }

    .header-container {
        /* flex-direction: row; */
        align-items: flex-start;
    }

    .logo {
        width: 40%;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .hamburger-container {
        display: inline-block;
        align-self: center;
        margin: 0 10px;
    }
}

@media screen and (max-width: 280px) {
    .logo {
        width: 55%;
    }

    .header-container {
        padding: 0;
    }
}